body {
  font-family: "Nunito", sans-serif;
}

/* Theme */
body.dark-mode {
  background-color: #121212;
  color: #f8f9fa;
}

.dark-mode .navbar {
  background-color: #343a40;
  color: #f8f9fa;
}

.dark-mode .card {
  background-color: #343a40;
  color: #f8f9fa;
}

.dark-mode .card-body {
  background-color: #343a40;
  color: #f8f9fa;
}

.dark-mode .area {
  background-color: #343a40;
  color: #f8f9fa;
}

footer {
  background-color: black;
  color: white;
  padding: 20px 0;
}

.b {
  font-weight: bold;
}

/* Preloader Styling */
.loader {
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  color: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -24px; /* Setengah dari lebar */
  margin-left: -24px; /* Setengah dari tinggi */
  z-index: 9999;
}

.loader:before,
.loader:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  transform: rotateX(70deg);
  animation: 1s spin linear infinite;
}

.loader:after {
  color: #ff3d00;
  transform: rotateY(70deg);
  animation-delay: 0.4s;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes spin {
  0%,
  100% {
    box-shadow: 0.2em 0px 0 0px currentcolor;
  }
  12% {
    box-shadow: 0.2em 0.2em 0 0 currentcolor;
  }
  25% {
    box-shadow: 0 0.2em 0 0px currentcolor;
  }
  37% {
    box-shadow: -0.2em 0.2em 0 0 currentcolor;
  }
  50% {
    box-shadow: -0.2em 0 0 0 currentcolor;
  }
  62% {
    box-shadow: -0.2em -0.2em 0 0 currentcolor;
  }
  75% {
    box-shadow: 0px -0.2em 0 0 currentcolor;
  }
  87% {
    box-shadow: 0.2em -0.2em 0 0 currentcolor;
  }
}

/* CSS untuk scrollbar */
/* Untuk browser WebKit (Chrome dan Safari) */
::-webkit-scrollbar {
  width: 8px; /* Lebar scrollbar */
}

::-webkit-scrollbar-track {
  background-color: #333; /* Warna track scrollbar (background scrollbar) */
}

::-webkit-scrollbar-thumb {
  background-color: #555; /* Warna thumb scrollbar (bagian geser scrollbar) */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #888; /* Warna thumb saat hover */
}

/* Contoh elemen scrollable dengan custom scrollbar */
.scrollable-container {
  height: 300px;
  overflow-y: auto;
  background-color: #444; /* Warna background container */
  padding: 10px;
}

.scrollable-content {
  height: 800px; /* Tinggi konten yang akan di-scroll */
  background-color: #666; /* Warna background konten */
  color: #fff; /* Warna teks konten */
  padding: 20px;
}
